.basket--container .basket--icon {
  
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 60px;
    margin-top: 20px;
  }
  
  .basket--container .basket--icon:hover {
    opacity: 50%;
  
  }
  .basket--container .basket--counter {
    
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 13px Arial, sans-serif;
    margin-right: 25px;
  
  }