@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.navbar {
  display: flex;
  justify-content: center;
  
}

.nav--items {
  display: flex;
}

.navbar a {
  padding: 10px;
  font-family: "Edu NSW ACT Foundation", cursive;
  color: black;
  font-weight: bold;
}



.navbar a:link { text-decoration: none; }
.navbar a:hover { color: white; }



